@{
    ViewBag.Title = "Our Contact Information";
}
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div class="container">   
            @*<title>Contact Us - RK Enterprise</title>*@
            <style>
                .contact-section {
                    padding: 20px 0;
                }

                .contact-section h2 {
                    margin-bottom: 30px;
                }

                .form-group {
                    margin-bottom: 1rem;
                }

                .contact-info {
                    margin-top: 20px;
                }

                .contact-info p {
                    margin-bottom: 10px;
                }
            </style>

        <section>
            <div class="container contact-section">

                <!-- Contact Information -->
                <section id="contact-info" class="contact-info">
                    <p><strong>Phone:</strong> 7001775393</p>
                    <p><strong>Email:</strong> <a href="mailto:justiceforall1897@gmail.com">justiceforall1897@gmail.com</a></p>
                    <p>
                        <strong>Address:</strong> Kharagpur, West Bengal, 721304<br />
                    </p>
                </section>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>