@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="jumbotron">
        <h1>Welcome to RK Enterprise</h1>
        <p class="lead">Your Trusted Partner for Exceptional Contracting Services.</p>
        @*<p><a href="@Url.Action("Career", "Home")" class="btn btn-primary btn-lg">Careers</a></p>*@
    </div>

    <section class="row" aria-labelledby="aspnetTitle">
        <p class="lead">At RK Enterprise, we are dedicated to providing top-notch contracting services tailored to meet the unique needs of each project. With years of experience and a commitment to excellence, we deliver reliable, high-quality solutions that exceed expectations.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Residential Contracting</h2>
            <p>
                Transform your living space with our expert residential contracting services. Whether you’re dreaming of a modern kitchen remodel, a stylish bathroom upgrade, or a complete home renovation, our team brings both creativity and technical expertise to every project. We handle all aspects of residential construction with meticulous attention to detail, ensuring your home is both functional and beautiful.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Commercial Contracting</h2>
            <p>We understand the unique requirements of commercial spaces. Our commercial contracting services are designed to meet the needs of businesses looking to enhance their workspace. From office fit-outs and retail renovations to industrial upgrades, we provide comprehensive solutions that align with your business objectives and create environments where productivity thrives.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Custom Solutions</h2>
            <p>Every project is unique, and we pride ourselves on offering custom solutions tailored to your specific needs. Whether you require bespoke design features, innovative construction techniques, or specialized materials, our team works closely with you to provide personalized solutions that reflect your style and functional requirements.</p>
        </section>
    </div>
</main>